<h1><%= @list.name() %></h1>

<% if @list.tasks().any?() %>
  <h3>Here are all of the tasks in the list:</h3>

  <ul>
    <% @list.tasks().each() do |task| %>
    <li><%= task.description() %> [<a href="/delete_task/<% task.id()%>">x</a>]</li>
    <% end %>
  </ul>

    <% else %>
      <p>There are no tasks on this list!</p>
    <% end %>

<h3>Add a task to <%= @list.name %> </h3>

<form action="/tasks" method="post">
  <input type="hidden" name="list_id" id="list_id" value="<%= @list.id() %>">

  <label for="description">Description of the task:</label>
  <input type="text" name="description" id="description">

  <button type="submit">Add task</button>
</form>


  <div class="container">
    <a href="/"><button class="btn">Home</a>
    <a href="/lists">View All Lists</a>
    <a href="/lists/new">Add New List</a>
    <a href="/lists/new">Add New Task</a>
  </div>
